<!DOCTYPE html>
<html>
  <head>
    <title>Artsee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    // <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" className='banner-image'> window.banner_image = "<%= image_url('ugo-rondinone.jpg') %>"</script>
    <script type="text/javascript" className='header-logo'> window.header_logo = "<%= image_url('logo/logo.png') %>"</script>
  </head>

  <body>

    <div>
    </div>
    <%= yield %>
  </body>
</html>
