<!DOCTYPE html>
<html>
  <head>
    <title>Artsee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" className='banner-image'> window.banner_image = "<%= image_url('ugo-rondinone.jpg') %>"</script>
    <script type="text/javascript" className='header-logo'> window.header_logo = "<%= image_url('logo/logo.png') %>"</script>
    <script type="text/javascript" className='like-heart'> window.like_heart = "<%= image_url('unliked_heart.png') %>"</script>
    <script type="text/javascript" className='splash-artists-image'> window.rashidJohnson = "<%= image_url('rashidJohnson.jpeg') %>"</script>
    <script type="text/javascript" className='splash-artists-image'> window.cindySherman = "<%= image_url('cindySherman.jpeg') %>"</script>
    <script type="text/javascript" className='splash-artists-image'> window.robertLongo = "<%= image_url('robertLongo.jpeg') %>"</script>
    <script type="text/javascript" className='splash-artists-image'> window.jamesTurrell = "<%= image_url('jamesTurrell.jpeg') %>"</script>
    <script type="text/javascript" className='splash-artists-image'> window.judyChicago = "<%= image_url('judyChicago.jpeg') %>"</script>
  </head>

  <body>

    <div>
    </div>
    <%= yield %>
  </body>
</html>
